{% extends 'movies/base.html' %}
{% load static %}

{% block title %}

<title>FilmBrary</title>
{% endblock title %}

{% block body %}


<div class="d-flex flex-row flex-wrap ">
  
    {% for film in page_obj %}
        
        <div class="p-0  card" style="width: 11rem; ">  
            <div class="card-body">
              <a href="{% url 'film_page' film.slug %}" style="text-decoration: none;"><img src="{{ film.poster.url }}"  class="card-img-top" alt="poster">
                <h5 class="card-title">{{ film.title }}</h5>
                <div class="year-rating">
                    &nbsp<span>year</span>&nbsp &nbsp &nbsp &nbsp<span>rating</span>                    
                    <h5 class="card-title">{{ film.year }}&nbsp &nbsp &nbsp{{ film.rating | floatformat:2}}</h5>
                </div>
              </a>
              
              <a href="{% url 'film_page' film.slug %}" style="text-decoration: none;">
                  <p class="card-text">{{ film.shorts }}</p>
              </a>
              {% if user.is_superuser %}
                <a href="{% url 'change_movie' film.slug %}" style="text-decoration: none; color:rgb(91, 66, 66)">Change </a>
                <a href="{% url 'delete_movie' film.slug %}" style="text-decoration: none; color:rgb(91, 66, 66)"> Delete</a>
              {% endif %} 
            </div>
        </div>
    {% endfor %}
 
</div>


<div class="paginations">

   {% if page_obj.has_previous %}
    <a class="btn  shadow btn-secondary btn-sm m-2" href="{{base_line}}&?page=1{{query}}" style="--bs-btn-padding-x: 1rem;">First</a>
    <a class="btn shadow btn-outline-secondary btn-sm m-2" href="{{base_line}}page={{page_obj.previous_page_number}}{{query}}" style="--bs-btn-padding-x: 0.35rem;">Previous</a>
  {% endif %}

  {% for num in paginator.page_range %}
    {% if page_obj.number == num %}
      <a class="btn btn-warning shadow-sm btn-sm m-2" href="{{base_line}}page={{ num }}{{query}}" style="--bs-btn-padding-x: 1rem;">{{ num }}</a>
    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
    <a class="btn btn-outline-secondary btn-sm m-2" href="{{base_line}}page= {{ num }}{{query}}" style="--bs-btn-padding-x: 1rem;">{{ num }}</a>
    {% endif %}
  {% endfor %}

  {% if page_obj.has_next %}
    <a class="btn btn-outline-secondary btn-sm m-2" href="{{base_line}}page={{ page_obj.next_page_number }}{{query}}" style="--bs-btn-padding-x: 1rem;">Next</a>
    <a class="btn btn-secondary btn-sm m-2" href="{{base_line}}page={{ page_obj.paginator.num_pages }}{{query}}" style="--bs-btn-padding-x: 1rem;" type="submit">{{page_obj.paginator.num_pages}} .</a>
  {% endif %}

</div>
<script src="{% static 'JS/jquery.js' %}"></script>
<script src="{% static 'BootstrapSlider/src/js/bootstrap-slider.js' %}"></script>
<link href="{% static 'BootstrapSlider/dist/css/bootstrap-slider.css' %}" rel="stylesheet">
<script src="{% static 'StarSlider/dist/bootstrap-slider.js' %}"></script>
<link href="{% static 'StarSlider/dist/css/bootstrap-slider.css' %}" rel="stylesheet">     
<script src="{% static 'JS/base.js' %}"></script>
{% endblock body %}

