{% extends 'movies/base.html' %}
{% load static %}


{% block title %}

<title>{{ film.title }}</title>
{% endblock title %}



{% block body %}

<div class="container text-center">
    <div class="row">
      <div class="col">
        <h3 class="detail-title">{{ film.title }}</h3>
      </div>
    </div>
    <div class="row">
        <div class="col-4">
            <img src="{{ film.poster.url }}" style="width:450px" class="poster-detail" alt="poster">
        </div>
        <div class="col-8">
          <div class="film-headers">
                  
            <div>
              
              <div  class="rating-menu">
                <h3 style="margin-top: 10px;">World Rating{% for item, value in user.personal.individ_rates.items %}
                                                          {% if item == film.title %}
                                                          / Your score
                                                          {% endif %}{% endfor %}</h3>
                <h5>{{ film.rating | floatformat:2}}
                                                    {% for item, value in user.personal.individ_rates.items %}
                                                    {% if item == film.title %}
                                                    / {{value}}</h5>
                                                    {% endif %}
                                                    {% endfor %}
                
                <form method="POST">
                  {% csrf_token %}
                  <input class="form-range individual-ratings m-2 " type="text" name="rating"  value="" data-bleeder-min="1" data-bleeder-max="10"   data-bleeder-step="0.1" data-bleeder-id="{{film.id}}" id="Rating{{film.id}}" data-bleeder-pandle="custom" data-bleeder-picks="[ 1, 2, 3, 4,5,6,7,8,9,10]" picks_positions="[1,2,3,4,5,6,7,8,9,10]" data-bleeder-value="{{film.rating}}"/> 
                  {% if user.is_authenticated %}
                  <button class="btn btm-sm m-2 btn-warning" action="submit">Rate</button>
                  {% endif %}
                </form>  
              </div>
            </div>


            <div>
              <h3 style="margin-top: 10px;">Year</h3>
              <h5>{{ film.year}}</h5>           
            </div>
            <div>
              <h3 style="margin-top: 10px;">Director</h3>
              {% for dude in film.director %}
              <h5>{{ dude}}</h5>
              {% endfor %}
            </div>
            <div>
              <h3 style="margin-top: 10px;">Cast</h3>
              {% for dude in film.cast%}
              <h5>{{ dude}}</h5>
              {% endfor %}
            </div>
            <div>
              <h3 style="margin-top: 10px;">Country</h3>
              {% for country in film.countries %}
              <h5>{{country}}</h5>
              {% endfor %}
            </div>
            <div>
              <h3 style="margin-top: 10px;">Genre</h3>
              {% for genre in film.genres %}
              <h5>{{ genre }}</h5>
              {% endfor %}
            </div>

          </div>
          
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="plot">{{ film.plot }}</p>
        </div>
    </div>
</div>
<script src="{% static 'JS/jquery.js' %}"></script>
<script src="{% static 'BootstrapSlider/src/js/bootstrap-slider.js' %}"></script>
<link href="{% static 'BootstrapSlider/dist/css/bootstrap-slider.css' %}" rel="stylesheet">
<script src="{% static 'StarSlider/dist/bootstrap-slider.js' %}"></script>
<link href="{% static 'StarSlider/dist/css/bootstrap-slider.css' %}" rel="stylesheet">     
<script src="{% static 'JS/base.js' %}"></script>



{% endblock body %}

