{% extends 'films/base.html' %}

{% block title %}

<title>FilmBrary</title>
{% endblock title %}



{% block body %}


<div class="d-flex flex-row flex-wrap ">
    {% for film in films %}
    <div class="p-1  card" style="width: 12rem;">    
        <img src="{{ film.poster.url }}" class="card-img-top" alt="poster">
        <div class="card-body">
            <h5 class="card-title">{{ film.title }}</h5>
            <div class="year-rating">
                &nbsp<span>year</span>&nbsp &nbsp &nbsp &nbsp &nbsp<span>rating</span>                    
                <h5 class="card-title">{{ film.year }}&nbsp &nbsp &nbsp &nbsp{{ film.rating | floatformat:2}}</h5>
            </div>
            <p class="card-text">{{ film.shorts }}</p>
            <a href="{% url 'film_page' film.slug %}" class="btn btn-sm btn-outline-info stretched-link">reed more</a>
        </div>
    </div>
    {% endfor %}
</div>



{% endblock body %}