{% extends 'films/base.html' %}

{% block title %}

<title>FilmBrary</title>
{% endblock title %}



{% block body %}
<h2>Welcome to  FilmBrary !!!</h2>
<div class="container-fluid container-md text-center ml-7 ">

<div class="d-flex flex-row flex-wrap mb-3">

{% for film in films %}
<div class="p-2  card" style="width: 16rem;">    
    <!--div class="card filmview" style="width: 18rem;"-->
            <img src="{{ film.poster.url }}" class="card-img-top" alt="poster">
            <div class="card-body">
            <h5 class="card-title">{{ film.title }}</h5>
            <p class="card-text">{{ film.shorts }}</p>
            <p class="card-tags">{{ film.tags }}</p>
            <a href="{% url 'film_page' film.id %}" class="btn btn-primary stretched-link">reed more</a>
        </div>
</div>
{% endfor %}
</div>

</div>
{% endblock body %}